body{
    background-color: #e8f3f4;
    display: grid;
    justify-content: center;
    align-items:center;
}

.playground{
    background-color: aqua;
    width:70dvw;
    height: fit-content;
    position: relative;
    padding: 2dvw;
    margin-top: 5%;
}

.player{
    background-color: blueviolet;
    width:15dvw;
    height: 15dvh;
}

.player1{
    background-color: blueviolet;
    width:10dvw;
    height: 15dvh;
    position: absolute;
    top:10dvh;
    left:3dvw;
}

.player2{
    background-color: blueviolet;
    width:10dvw;
    height: 15dvh;
    position: absolute;
    top: 10dvh;
    right:3dvw;
}

.board{
    background-color: gainsboro;
    width:35dvw;
    height:35dvw;
    position: relative;
    left:17.5dvw;
    justify-content:center;
}