body{
    background-color: #e8f3f4;
    display: flex;
    justify-content: center;
    align-items:center;
}

.playground{
    background-color: aqua;
    width:70dvw;
    height: 70dvh;
    padding: 2dvw;
    margin-top: 10%;
}

.player{
    background-color: blueviolet;
    width:30dvw;
    height: 15dvh;
    float:inline-start;
    margin-left: 3%;
}

.board{
    background-color: gainsboro;
    width:25dvw;
    height:25dvw;
    float: inline-start;
    margin-top: 1%;;
    justify-content: center;
}